*.gem
*.swp
*.rbc
.idea
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
test/dummy/log
test/dummy/tmp
test/dummy/db/*.sqlite3*
script/demo/frames
